<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <%- include('../partials/header') %>
    <style>
        .container {
            background-color: #111111;
            min-height: 100vh;
            border: 1px #282828;
            border-style: none solid;
            padding-bottom: 20px;
        }
    
        .profile-cont {
            position: relative;
        }
    
        .profile-padding {
            padding-top: 10px !important;
        }
    
        .profile-img img {
            height: 120px;
            width: 120px;
        }
    
        .gray {
            color: #bfbfbf;
        }
    
        .profile-split {
            display: flex;
            flex-direction: row;
        }
    
        .pastes-section {
            flex: 1;
            margin-left: 0;
            padding: 0;
        }
    
        .paste-item {
            margin-bottom: 10px;
        }
    
        .info-section {
            flex: 1;
            margin-left: 500px;
        }
    
        .uinfo {
            font-size: 16px;
        }
    
        .uinfo-h {
            font-weight: bold;
        }
    
        .profile-comments {
            margin-bottom: 20px;
        }
    
        .comments-section {
            margin-top: 10px;
        }
    
        .profile-comment {
            margin-bottom: 5px;
        }
    
        .profile-comment-username a {
            color: #30D5C8;
        }
    
        .profile-comment-content {
            margin-left: 10px;
        }
    
        .rcta {
            margin-bottom: 20px;
        }
    
        .gray {
            color: #bfbfbf;
        }
    </style
</head>
<body>

    <% if (loggedIn == true) { %>
        <!-- Logged in -->
        <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><span style="color: #c07f0f">LARP<span
                            style="color: #FFFFFF">BIN</span></span></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="/newpaste"><span class="glyphicon glyphicon-paste"></span> New Paste</a></li>
                <li><a href="/users"><span class="glyphicon glyphicon-user"></span> Users</a></li>
                <li><a href="/upgrade"><span class="glyphicon glyphicon-tag"></span> Upgrades</a></li>
                <li><a href="/wallofclowns"><span class="glyphicon glyphicon-pawn"></span> Wall of Clowns</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/">About
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/faq"><span class="glyphicon glyphicon-check"></span> FAQ</a></li>
                        <li><a href="/viewpaste?id=55038"><span class="glyphicon glyphicon-book"></span> ToS</a>
                        </li>
                        <li><a href="/viewpaste?id=29175"><span class="glyphicon glyphicon-refresh"></span>
                                Changelog</a></li>
                        <li><a href="/donate"><span class="glyphicon glyphicon-bitcoin"></span> Donate</a></li>
                        <li><a href="/prices"><span class="glyphicon glyphicon-tags"></span> Prices</a></li>
                        <li><a href="/contact"><span class="glyphicon glyphicon-envelope"></span> Contact</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/profile?uid=<%= user.id %>"><span class="glyphicon glyphicon-user"></span>
                        Profile</a></li>
                <li><a href="/login/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </li>
            </ul>
        </div>
        </nav>
        <% } else { %>
            <!-- Not logged in -->
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/"><span style="color: #c07f0f">LARP<span
                                    style="color: #FFFFFF">BIN</span></span></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                        <li><a href="/newpaste"><span class="glyphicon glyphicon-paste"></span> New Paste</a></li>
                        <li><a href="/users"><span class="glyphicon glyphicon-user"></span> Users</a></li>
                        <li><a href="/upgrade"><span class="glyphicon glyphicon-tag"></span> Upgrades</a></li>
                        <li><a href="/wallofclowns"><span class="glyphicon glyphicon-pawn"></span> Wall of
                                Clowns</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="/">About
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/faq.php"><span class="glyphicon glyphicon-check"></span> FAQ</a></li>
                                <li><a href="/viewpaste.php?id=55038"><span class="glyphicon glyphicon-book"></span>
                                        ToS</a></li>
                                <li><a href="/viewpaste.php?id=29175"><span
                                            class="glyphicon glyphicon-refresh"></span> Changelog</a></li>
                                <li><a href="/donate.php"><span class="glyphicon glyphicon-bitcoin"></span>
                                        Donate</a></li>
                                <li><a href="/prices.php"><span class="glyphicon glyphicon-tags"></span> Prices</a>
                                </li>
                                <li><a href="/contact.php"><span class="glyphicon glyphicon-envelope"></span>
                                        Contact</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </nav>
            <% } %>

            <div class="container" style="background-color: #111111; min-height: 100vh; border: 1px #282828; border-style: none solid; padding-bottom: 20px;">
                <div class="profile-cont" style="position: relative;">
                    <div style="background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(0, 0, 0, 0.7)), url('<%= user.banner || 'https://cdn.doxbin.com/banner_pic/4e1c7f1822987def0c390c8b973ef13b.png' %>') no-repeat center; background-size: cover; margin-top: -15px;">
                        <div class="profile-padding" style="padding-top: 10px !important;">
                            <div class="profile-img">
                                <img style="height: 120px; width: 120px;" src="<%= user.profile_picture || 'https://cdn.doxbin.com/profile_pic/default.jpg' %>">
                            </div>
                            <h5 class="gray" style="font-size: 24px; margin: 0px 20px 0px 2px; padding-top: 0px; display: inline-block; color: #FFFE71; font-weight: bold;">
                                <%= user.username %>
                                <% if (user.role) { %>
                                    <span style="color: #780A48;">[<%= user.role %>]</span>
                                <% } %>
                            </h5>
                        </div>
                        <div class="info-cont">
                            <p style="font-size: 15px; min-height: 87px;">
                                <%= user.bio || '' %>
                            </p>
                        </div>
                        <hr style="margin: 15px 0;">
                    </div>
                    <div class="profile-split">
                        <div class="pastes-section">
                            <div class="col-md-9" style="margin-left: 0; padding: 0;">
                                <% if (pastes.length > 0) { %>
                                    <% pastes.forEach(paste => { %>
                                        <div class="paste-item">
                                            <a href="/paste?id=<%= paste.id %>"><%= paste.title %></a>
                                            <span class="pull-right">on <%= new Date(paste.created_at).toLocaleDateString() %></span>
                                        </div>
                                    <% }); %>
                                <% } else { %>
                                    <h5 class="gray" style="font-size: 15px;"><%= user.username %> has no pastes.</h5>
                                <% } %>
                            </div>
                        </div>
                        <div class="info-section">
                            <div class="uinfo">
                                <h5 class="gray" style="font-size: 16px;"><b>Information</b></h5>
                                <div class="uinfo-row">
                                    <div class="uinfo-h">User ID</div><div class="uinfo-i"><%= user.id %></div>
                                </div>
                                <div class="uinfo-row">
                                    <div class="uinfo-h">Joined</div><div class="uinfo-i"><%= new Date(user.created_at).toLocaleDateString() %></div>
                                </div>
                                <a href="/user/<%= user.username %>/pastes">
                                    <div class="uinfo-row">
                                        <div class="uinfo-h">Pastes</div><div class="uinfo-i"><%= pastes.length %></div>
                                    </div>
                                </a>
                                <div class="uinfo-row">
                                    <div class="uinfo-h">Comments</div><div class="uinfo-i"><%= pastes.comments %></div>
                                </div>
                            </div>
                            <div class="rcta profile-comments" style="margin-bottom: 20px;">
                                <div class="comments-section">
                                    <% comments.forEach(comment => { %>
                                        <div class="profile-comment" title="<%= new Date(comment.date).toLocaleString() %>">
                                            <div class="profile-comment-username">
                                                <a class="dox-username" href="/user/<%= comment.username %>" title="<%= comment.username %>" target="_blank"><%= comment.username %></a>
                                            </div>
                                            <div class="profile-comment-content"><%= comment.content %><a href="#" class="delete-comments-button delete-smaller" title="Delete comment" id="<%= comment.id %>"><i class="material-icons">close</i></a></div>
                                        </div>
                                    <% }); %>
                                </div>
                            </div>
                            <div class="rcta">
                                <h5 class="gray" style="font-size: 16px;"><b>Recent Activity</b></h5>
                                <p class="gray">No recent activity</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>
</html>
